---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Programs from '../components/Programs.astro';
import Events from '../components/Events.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Programs />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
